[Desktop Entry]
Encoding=UTF-8
Name=Link to 4. How to quickly make your own theme based on Mint Y theme with different colours - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=c4iC07eg6ck
Icon=text-html
