[Desktop Entry]
Encoding=UTF-8
Name=Link to erikdubois/Ultimate-Linux-Mint-18-Cinnamon: Cinnamon - automated script installation of software
Type=Link
URL=https://github.com/erikdubois/Ultimate-Linux-Mint-18-Cinnamon
Icon=text-html
Name[en_US]=Link to github ultimate linux mint 18 cinnamon
