[Desktop Entry]
Encoding=UTF-8
Name=Link to Mint-Y Based Themes Archives - ERiK DuBoiS
Type=Link
URL=http://erikdubois.be/category/themes/mint-y-based-themes/
Icon=text-html
