[Desktop Entry]
Encoding=UTF-8
Name=Link to Arc Based Themes Archives - ERiK DuBoiS
Type=Link
URL=http://erikdubois.be/category/themes/arc-based-themes/
Icon=text-html
